.about {
    margin-top: 100px;
}

.about__section {
    max-width: var(--container-width-ms);
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 30px;
}

.about__left .about__left--title {
    font-size: 64px;
    font-weight: 700;
}

.about__left .about__left--text {
    color: var(--color-p);
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

.about__left--numeration {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 33px;
    column-gap: 30px;
}


.about__left--numeration-number {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 64px;
}

.about__left--numeration-title {
    color: var(--color-black);
    font-weight: 700;
    font-size: 24px;
    margin-top: 18px;
}

.about__left--numeration-text {
    margin-top: 18px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-p2);
}

.about__center {
    margin-top: 136px;
    display: grid;
    column-gap: 30px;
}

.about__center .about__center--first {
    padding-top: 75px;
    display: grid;
    row-gap: 30px;
}

.about__right {
    margin-top: 136px;
}

.about__right--first {
    display: grid;
    row-gap: 30px;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
   
    .about {
        margin-top: 60px;
    }

    .about__section {
        display: flex;
        flex-direction: column;
    }

    .about__left--numeration {
        text-align: center;
    }

    .about__left .about__left--title {
        font-size: 42px;
        font-weight: 700;
        text-align: center;
    }

    .about__left .about__left--text {
        margin-top: 14px;
        font-size: 18px;
        text-align: justify;
        text-align: center;
    }

    .about__left--numeration {
        margin-top: 40px;
        grid-template-columns: 1fr;
    }

    .about__left--numeration-title {
        margin-top: 6px;
    }

    .about__left--numeration-text {
        margin-top: 6px;
        font-size: 18px;
    }

    .about__center {
        display: none; 
    }
    
    .about__right {
        margin-top: 30px;
    }

    .about__right--first {
        justify-content: center;
    }

    
}

